.typo_white {
  color: #fff;
}
.typo_black {
  color: #000;
}
.c333 {
  color: #333;
}
.c666 {
  color: #666;
}
.c999 {
  color: #999;
}
.c_ccc {
  color: #ccc;
}
.bg_white {
  background-color: #fff;
}
.typo_blue{color: #009EE6;}
.bt_gray{border-bottom: 1px solid #F1F1F1;}