body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  word-break: break-all;
  font-family: "Microsoft Yahei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: none;
  }
}

html,
body {
  width: 10rem;
  max-width: 750px;
  margin: 0 auto;
}

p {
  max-width: 100% !important;
}

table {
  width: 100%;
}

p {
  max-width: 100% !important;
}

table {
  width: 100%;
}

@media screen and (min-width: 1366px) {
  html {
    font-size: 75px !important;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 0.26667rem;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 0.26667rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 0.373333rem;
  color: #999;
  background: #f5f5f5;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.clear {
  zoom: 1;
}

img {
  max-width: 100% !important;
}

button,
input,
textarea {
  color: #000;
  font: inherit;
}

// style
.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}
.w16 {
  width: .426667rem;
}
.w30 {
  width: 0.8rem;
}
.w90 {
  width: 2.4rem;
}
.w100 {
  width: 2.666667rem;
}
.w150 {
  width: 4rem;
}
.w220 {
  width: 5.866667rem;
}
.w345 {
  width: 9.2rem;
}
.h16 {
  height: .426667rem;
}
.h30 {
  height: 0.8rem;
}

.lh20 {
  line-height: 0.533333rem;
}

.lh40 {
  line-height: 1.066667rem;
}

.lh44 {
  line-height: 1.173333rem;
}

// 边距
.pl5 {
  padding-left: 0.133333rem;
}

.pl10 {
  padding-left: 0.266667rem;
}

.pl15 {
  padding-left: 0.4rem;
}

.pl20 {
  padding-left: 0.533333rem;
}

.pl25 {
  padding-left: 0.666667rem;
}

.pr5 {
  padding-right: 0.133333rem;
}

.pr10 {
  padding-right: 0.266667rem;
}

.pr15 {
  padding-right: 0.4rem;
}

.pr20 {
  padding-right: 0.533333rem;
}
.pt20 {
  padding-top: .533333rem;
}
.pb20 {
  padding-bottom: .533333rem;
}
.ml5 {
  margin-left: 0.133333rem;
}

.ml10 {
  margin-left: 0.266667rem;
}

.ml15 {
  margin-left: 0.4rem;
}

.ml20 {
  margin-left: 0.533333rem;
}

.mr5 {
  margin-right: 0.133333rem;
}
.mr6 {
  margin-right: .16rem;
}
.mr10 {
  margin-right: 0.426667rem;
}

.mr15 {
  margin-right: 0.4rem;
}

.mr16 {
  margin-right: 0.426667rem;
}
.mr24 {
  margin-right: .64rem;
}
.mt5 {
  margin-top: 0.133333rem;
}

.mt10 {
  margin-top: 0.266667rem;
}
.mt12 {
  margin-top: .32rem;
}
.mt15 {
  margin-top: 0.4rem;
}

.mt20 {
  margin-top: 0.533333rem;
}

.mt25 {
  margin-top: 0.666667rem;
}
.mb1 {
  margin-bottom: .026667rem;
}
.mb2 {
  margin-bottom: .053333rem;
}
.mb3 {
  margin-bottom: .08rem;
}
.mb5 {
  margin-bottom: 0.133333rem;
}

.mb8 {
  margin-bottom: 0.213333rem;
}

.mb10 {
  margin-bottom: 0.266667rem;
}

.mb15 {
  margin-bottom: 0.4rem;
}

.mb20 {
  margin-bottom: 0.533333rem;
}

.mb25 {
  margin-bottom: 0.666667rem;
}

// 字号
.fs12 {
  font-size: 0.32rem;
}

.fs14 {
  font-size: 0.373333rem;
}

.fs16 {
  font-size: 0.426667rem;
}

.fs18 {
  font-size: 0.48rem;
}

.fs20 {
  font-size: 0.533333rem;
}

.fs22 {
  font-size: 0.586667rem;
}

.fs24 {
  font-size: 0.64rem;
}
.lh14 {
  line-height: .373333rem;
}
.lh16 {
  line-height: .426667rem;
}
// border
.bt_gray {
  border-bottom: 1px solid #f1f1f1;
}

// 定位
.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left10 {
  left: 0.266667rem;
}

// other
.textc {
  text-align: center;
}

.textl {
  text-align: left;
}

.textr {
  text-align: right;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.typo_bold {
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.backgroundimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block {
  display: block;
}

.inBlo {
  display: inline-block;
}

.inline {
  display: inline;
}

.elli {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.boradius4 {
  border-radius: .106667rem;
}