@import './common.scss';
@import './color.scss';

@font-face {
  font-family: 'iconfont';  /* project id 512913 */
  src: url('//at.alicdn.com/t/font_512913_t3w46xb3pba.eot');
  src: url('//at.alicdn.com/t/font_512913_t3w46xb3pba.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_512913_t3w46xb3pba.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_512913_t3w46xb3pba.woff') format('woff'),
  url('//at.alicdn.com/t/font_512913_t3w46xb3pba.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_512913_t3w46xb3pba.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
}